#fon2 {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin: 50px 40px 40px;
}

#fon3 {
    width: 200px;
    height: 300px;
    border: 1px solid green;
    margin: 40px;
    padding: 30px;
    text-align: justify;
}

#fon4 {
    width: 700px;
    height: 400px;
    border: 1px solid red;
    border-radius: 10px;
    text-align: justify;
    margin: 50px auto;
    padding: 30px 20px;
}

#fon5 {
    border: 1px solid red;
    border-radius: 10px;
    text-align: justify;
    margin: 50px auto;
    padding: 30px 20px;
    min-width: 300px;
    max-width: 700px;
    width: 50%;
}

#fon6 {
    border: 1px dotted black;
    width: 600px;
    padding: 30px 100px 0px 20px;
    text-align: justify;
}

.img1 {
    float: left;
    margin-right: 10px;
}

.img2 {
    float: right;
    margin-left: 10px;
}

.margin {
    margin: 0;
}

#ul1 {
    list-style-type: square;
}

#ul2 {
    list-style-type: circle;
}

#ul3 {
    list-style-type: none;
}

#ul4 {
    list-style-image: url("http://old.code.mu/images/books/css/li.gif");
}

#ul5 {
    list-style-type: lower-greek;
}

#ul6 {
    list-style-type: upper-alpha;
}

.ul7 {
    color: blue;
}

.menu_link {
    color: blue;
    text-decoration: none;
}

.menu_link:hover {
    color: crimson;
    text-decoration: underline;
}

.ul8 {
    list-style-type: none;
}

.ul8 li {
    margin-bottom: 3px;
}

.menu_link1 {
    border: 1px solid blue;
    display: inline-block;
    width: 200px;
    padding: 5px 0px 5px 5px;
    color: blue;
    text-decoration: none;
}

.menu_link1:hover {
    color: blue;
    font-weight: bold;
}

.ul9 {
    list-style-type: none;
}

.ul9 li {
    margin-bottom: 3px;
}

.menu_link2 {
    border: 1px solid #0081E7;
    width: 200px;
    display: inline-block;
    color: white;
    background-color: #0081E7;
    text-decoration: none;
    padding: 5px;
}

.menu_link2:hover {
    color: blue;
    background-color: white;
}

.menu_link2:hover img {
    display: block;
}

.ul10 {
    list-style-type: none;
}

.menu_link3 {
    border: 1px solid blue;
    float: left;
    color: blue;
    padding: 5px;
    margin-right: 3px;
    text-decoration: none;
}

.menu_link3:hover {
    color: red;
    text-decoration: none;
    margin: 10px;
}

.ul11 li {
    display: inline-block;
}

.menu_link4 {
    border: 1px solid blue;
    color: blue;
    padding: 5px;
    text-decoration: none;
    width: 200px;
}

.clear {
    clear: both;
}

.active_link,
.menu_link4:hover {
    color: white;
    background: black;
}

.menu_link2 img {
    float: right;
    margin-right: 10px;
    display: none;
}

.active_link2 {
    background: white;
    color: blue;
}

.active_link2 img {
    display: block;
}

.ul12 li {
    display: inline-block;
    margin-right: 10px;
}

.menu_link5 {
    display: inline-block;
    padding-top: 30px;
    color: #CBCBCB;
    text-decoration: none;
}

.menu_link5:hover {
    color: #039CFF;
}

.item1 {
    background: url("http://old.code.mu/exercises/css/praktika-po-sozdaniyu-gorizontalnyh-i-vertikalnyh-menyushek/1/img/1.png") no-repeat;
    background-position: top center;
}

.item1:hover {
    background: url("http://old.code.mu/exercises/css/praktika-po-sozdaniyu-gorizontalnyh-i-vertikalnyh-menyushek/1/img/1-h.png") no-repeat;
}

.item2 {
    background: url("http://old.code.mu/exercises/css/praktika-po-sozdaniyu-gorizontalnyh-i-vertikalnyh-menyushek/1/img/2.png") no-repeat;
    background-position: top center;
}

.item2:hover {
    background: url("http://old.code.mu/exercises/css/praktika-po-sozdaniyu-gorizontalnyh-i-vertikalnyh-menyushek/1/img/2-h.png") no-repeat;
    background-position: top center;
}

.item3 {
    background: url("http://old.code.mu/exercises/css/praktika-po-sozdaniyu-gorizontalnyh-i-vertikalnyh-menyushek/1/img/3.png") no-repeat;
    background-position: top center;
}

.item3:hover {
    background: url("http://old.code.mu/exercises/css/praktika-po-sozdaniyu-gorizontalnyh-i-vertikalnyh-menyushek/1/img/3-h.png") no-repeat;
    background-position: top center;
}

.item4 {
    background: url("http://old.code.mu/exercises/css/praktika-po-sozdaniyu-gorizontalnyh-i-vertikalnyh-menyushek/1/img/4.png") no-repeat;
    background-position: top center;
}

.item4:hover {
    background: url("http://old.code.mu/exercises/css/praktika-po-sozdaniyu-gorizontalnyh-i-vertikalnyh-menyushek/1/img/4-h.png") no-repeat;
    background-position: top center;
}

.item5 {
    background: url("http://old.code.mu/exercises/css/praktika-po-sozdaniyu-gorizontalnyh-i-vertikalnyh-menyushek/1/img/5.png") no-repeat;
    background-position: top center;
}

.item5:hover {
    background: url("http://old.code.mu/exercises/css/praktika-po-sozdaniyu-gorizontalnyh-i-vertikalnyh-menyushek/1/img/5-h.png") no-repeat;
    background-position: top center;
}

.ul12 {
    list-style-type: none;
}

.ul13 li {
    display: inline-block;
}

.wrapper_menu {
    width: 100%;
    background-color: #FC9D00;
}

.menu_link6 {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu_link6:hover {
    background-color: red;
}

.menu_link7 {
    color: black;
}

.weekend {
    color: rgb(111, 130, 131);
}

.menu_link7:hover,
.weekend:hover {
    text-decoration: underline;
}

.menu_link7,
.weekend {
    text-decoration: none;
}

.none {
    color: white
}

.red_letter_day {
    color: red;
}